@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <div class="row">
        <div class=" col-md-4">
            <h3> Let's talk hops</h3>
            <img src="~/images/beer1.jpeg" />
        </div>
        <div class="col-md-4">
            <h3> Let's talk about barley</h3>
            <img src="~/images/beer2.jpg" />
        </div>
        <div class=" col-md-4">
            <h3> Let's talk about Yeast</h3>
            <img src="~/images/beer3.jpeg" />
        </div>


    </div>

</div>


